[Desktop Entry]
Name=Cinelerra-CV
Comment=Video Editor
Comment[fr]=Éditeur vidéo
Categories=Application;AudioVideo;Multimedia;VideoEditing;
Encoding=UTF-8
Exec=cinelerracv
Icon=cinelerra-cv.xpm
Terminal=false
Type=Application
